# Evaluation : projet La Ferme

In [2]:
import numpy as np
import pandas as pd

### Question 1:

In [3]:
temperature=pd.read_table("C:/Users/Dell/Desktop/Evaluation/Part 2/temperature.csv", encoding='utf-8', sep =';|,',engine='python')
temperature.head()

    date  mini  terrain  maxi  moyenne
0  01/14    -4       13    40       29
1  01/15   -11       11    33       15
2  01/15    -7       28    40       20
3  01/15    -1       33    18       18
4  01/17   -11       38    29       28

### Question 2 :

In [4]:
precipitation=pd.read_table("C:/Users/Dell/Desktop/Evaluation/Part 2/pluie.csv", encoding='utf-8', sep =';|,',engine='python')
precipitation.head()

    saison  annee terrain  precipitation
0  automne     16      34           79.0
1  automne     15      17          105.0
2  automne     16      42         1520.0
3  automne     99      16           18.0
4  automne     15      30         2140.0

### Question 3

### Pour les temp√©ratures

In [5]:
for i in range(len(temperature)):
    x = temperature.loc[i,'maxi']
    y = temperature.loc[i,'moyenne']
    if x<y:
        temperature.loc[i,'moyenne']=x
        temperature.loc[i,'maxi']=y

temperature.head()

    date  mini  terrain  maxi  moyenne
0  01/14    -4       13    40       29
1  01/15   -11       11    33       15
2  01/15    -7       28    40       20
3  01/15    -1       33    18       18
4  01/17   -11       38    29       28

In [6]:
if temperature['moyenne'].all()== temperature['maxi'].all():
    temperature['moyenne'] = (temperature['maxi']+temperature['mini'])// 2
temperature.head()

    date  mini  terrain  maxi  moyenne
0  01/14    -4       13    40       18
1  01/15   -11       11    33       11
2  01/15    -7       28    40       16
3  01/15    -1       33    18        8
4  01/17   -11       38    29        9

### Pour les pr√©cipitations

In [7]:
# -*- coding: utf-8 -*-

french_number_system = {
    'zero': 0,
    'un': 1,
    'deux': 2,
    'trois': 3,
    'quatre': 4,
    'cinq': 5,
    'six': 6,
    'sept': 7,
    'huit': 8,
    'neuf': 9,
    'dix': 10,
    'onze': 11,
    'douze': 12,
    'treize': 13,
    'quatorze': 14,
    'quinze': 15,
    'seize': 16,
    'dix-sept': 17,
    'dix-huit': 18,
    'dix-neuf': 19,
    'vingt': 20,
    'trente': 30,
    'quarante': 40,
    'cinquante': 50,
    'soixante': 60,
    'soixante-dix': 70,
    'quatre-vingts': 80,
    'quatre-vingt-dix': 90,
    'cent': 100,
    'mille': 1000,
    'million': 1000000,
    'milliard': 1000000000,
    'point': '.'
}

decimal_words = ['zero', 'un', 'deux', 'trois', 'quatre', 'cinq', 'six', 'sept', 'huit', 'neuf']


"""
function to form numeric multipliers for million, billion, thousand etc.
input: list of strings
return value: integer
"""

"""
fonction pour former des multiplicateurs num√©riques pour des millions, des milliards, des milliers, etc.
entr√©e: liste de cha√Ænes
valeur de retour: entier
"""


def number_formation(number_words):
    numbers = []
    if number_words[0] in ['cent', 'mille', 'milliard', 'million']:
        number_words = ['un'] + number_words
    for number_word in number_words:
        numbers.append(french_number_system[number_word])
    if len(numbers) == 4:
        return (numbers[0] * numbers[1]) + numbers[2] + numbers[3]
    elif len(numbers) == 3:
        return numbers[0] * numbers[1] + numbers[2]
    elif len(numbers) == 2:
        if 100 in numbers:
            return numbers[0] * numbers[1]
        else:
            return numbers[0] + numbers[1]
    else:
        return numbers[0]


"""
function to convert post decimal digit words to numerial digits
input: list of strings
output: double
"""

"""
fonction pour convertir les mots apr√®s le chiffre d√©cimal en chiffres
entr√©e: liste de cha√Ænes
sortie: double
"""


def get_decimal_sum(decimal_digit_words):
    decimal_number_str = []
    for dec_word in decimal_digit_words:
        if(dec_word not in decimal_words):
            return 0
        else:
            decimal_number_str.append(french_number_system[dec_word])
    final_decimal_string = '0.' + ''.join(map(str,decimal_number_str))
    return float(final_decimal_string)

"""
function to return integer for an input `number_sentence` string
input: string
output: int or double or None
"""

"""
fonction pour renvoyer un entier pour une cha√Æne `number_sentence` en entr√©e
entr√©e: cha√Æne
sortie: int ou double ou None
"""


def word_to_num(number_sentence):
    if type(number_sentence) is not str:
        raise ValueError("Type of input is not string! Please enter a valid number word (eg. \'deux million vingt trois mille quarante neuf\')")

    number_sentence = number_sentence.replace('-', ' ')
    number_sentence = number_sentence.lower()  # converting input to lowercase

    if(number_sentence.isdigit()):  # return the number if user enters a number string
        return int(number_sentence)

    split_words = number_sentence.strip().split()  # strip extra spaces and split sentence into words

    clean_numbers = []
    clean_decimal_numbers = []
        
    # removing and, & etc.
    for word in split_words:
        if word in french_number_system:
            clean_numbers.append(word)

    # Error message if the user enters invalid input!
    if len(clean_numbers) == 0:
        raise ValueError("No valid number words found! Please enter a valid number word (eg. deux million vingt trois mille quarante neuf)") 

    # Error if user enters million,billion, thousand or decimal point twice
    if clean_numbers.count('mille') > 1 or clean_numbers.count('million') > 1 or clean_numbers.count('milliard') > 1 or clean_numbers.count('point')> 1:
        raise ValueError("Redundant number word! Please enter a valid number word (eg. deux million vingt trois mille quarante neuf)")

    # separate decimal part of number (if exists)
    if clean_numbers.count('point') == 1:
        clean_decimal_numbers = clean_numbers[clean_numbers.index('point')+1:]
        clean_numbers = clean_numbers[:clean_numbers.index('point')]

    milliard_index = clean_numbers.index('milliard') if 'milliard' in clean_numbers else -1
    million_index = clean_numbers.index('million') if 'million' in clean_numbers else -1
    mille_index = clean_numbers.index('mille') if 'mille' in clean_numbers else -1
    if mille_index==0 :
        mille_index = 1 

    if (mille_index > -1 and (mille_index < million_index or mille_index < milliard_index)) or (million_index>-1 and million_index < milliard_index):
        raise ValueError("Malformed number! Please enter a valid number word (eg. deux million vingt trois mille quarante neuf)")

    total_sum = 0  # storing the number to be returned

    if len(clean_numbers) > 0:
        # hack for now, better way TODO
        if len(clean_numbers) == 1:
                total_sum += french_number_system[clean_numbers[0]]

        else:
            if milliard_index > -1:
                milliard_multiplier = number_formation(clean_numbers[0:milliard_index])
                total_sum += milliard_multiplier * 1000000000

            if million_index > -1:
                if milliard_index > -1:
                    million_multiplier = number_formation(clean_numbers[milliard_index+1:million_index])
                else:
                    million_multiplier = number_formation(clean_numbers[0:million_index])
                total_sum += million_multiplier * 1000000

            if mille_index > -1:
                if million_index > -1:
                    mille_multiplier = number_formation(clean_numbers[million_index+1:mille_index])
                elif milliard_index > -1 and million_index == -1:
                    mille_multiplier = number_formation(clean_numbers[milliard_index+1:mille_index])
                else:
                    #test
                    print(mille_index)

                    mille_multiplier = number_formation(clean_numbers[0:mille_index])
                total_sum += mille_multiplier * 1000

            if mille_index > -1 and mille_index != len(clean_numbers)-1:
                cent = number_formation(clean_numbers[mille_index+1:])
            elif million_index > -1 and million_index != len(clean_numbers)-1:
                cent = number_formation(clean_numbers[million_index+1:])
            elif milliard_index > -1 and milliard_index != len(clean_numbers)-1:
                cent = number_formation(clean_numbers[milliard_index+1:])
            elif mille_index == -1 and million_index == -1 and milliard_index == -1:
                cent = number_formation(clean_numbers)
            else:
                cent = 0
            total_sum += cent

    # adding decimal part to total_sum (if exists)
    if len(clean_decimal_numbers) > 0:
        decimal_sum = get_decimal_sum(clean_decimal_numbers)
        total_sum += decimal_sum

    return total_sum

In [13]:
for i in range(len(precipitation)):
    x = precipitation.loc[i,'terrain']
    if x in ['soixante sept', 'dix sept', 'treize', 'vingt cinq', 'trente trois', 'quinze', 'quarante sept', 'quarante quatre', 'quarante et un', 'quatre vingt', 'soixante neuf']:
       print(word_to_num(x)) 
precipitation.iloc[439]

67
17
13
25
33
47
25
15
13
44
41
24
69

saison               printemps
annee                       18
terrain          soixante sept
precipitation               87
Name: 439, dtype: object